* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.unset {
  position: unset !important;

}

.imgSize {
  box-sizing: border-box;
  height: 200px;
  width: 180px;
  margin: 0 21px 16px 20px;
  border-radius: 6px;
}

.enlarge {
  height: 400px;
  width: 400px;
}

.liPosition {
  display: inline-block;

}

div.home {
  height: 100vh;
  width: 100vw;
  background-color: white;
  color: black;
}

div.home div.img_index img {
  height: 100px;
  width: 100px;
  margin-top: 30px;
  margin-left: 30px;
}

div.home .entry_button {
  position: fixed !important;
  top: 70% !important;
  left: 46% !important;
}

div.entry_text {
  position: fixed;
  top: 35%;
  left: 30%;
  font-size: 80px;
}
div.home .entry_button button {
  height: 40px;
  width: 60px;
  border-radius: 5px;
  border: 0;
  box-shadow: 4px 5px gray;
}

div.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
}

div.nav .nav_link_wrapper {
  margin-left: 22px;
  margin-top: 22px;
}

div.nav .nav_link_wrapper a img {
  height: 75px;
  width: 75px;
}

div.nav .nav_link_wrapper a.nav_link {
  text-decoration: none;
  margin-left: 35px;
  position: relative;
  bottom: 28px;
  color: gray;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  letter-spacing: 1.7px;
}

div.nav .nav_link_wrapper a.nav_link:hover {
  color: black;
}

div.About_section {
  position: relative;
  top: 120px;
  margin: 22px;
}

div.About_section h2 {
  text-align: center;
  margin-bottom: 80px;
  font-size: 85px;
  color: black;
}

div.about_section_main p {
  width: 50%;
  margin-left: 120px;
  margin-right: 104px;
  margin-top: 50px;
}

img[src="images/ruthPicture.JPG"]{
 border-radius: 50%;
  height: 200px;
  width: 200px;

}

img[src="images/cancel.png"] {
  height: 32px;
  width: 32px;
}

div.gallery_section {
  position: relative;
  top: 170px;

}

div.gallary_header  {
  color: gray;
  font-size: 26px;
  position: fixed;
  left: 43%;


}

.gallery_section_body li {
  margin: 118px 20px 0 0;
  box-sizing: border-box;
  height: 200px;
  width: 200px;
  display: inline-block;
  position: relative;
  left: 19%;
  border-radius: 7px;
  cursor: pointer;
}

.gallery_section_body li:nth-child(2) {

  background: url('../images/flower.png');
    background-position: center;
}

.gallery_section_body li:nth-child(3) {
  background: url('../images/sky.png');
    background-position: center;

}

.gallery_section_body li:nth-child(1) {
  background: url('../images/city.png');
    background-position: center;
}

.gallery_section_body li:nth-child(4) {
  background: url('../images/plus.png');
  background-repeat: no-repeat;
    background-position: center;
    background-color: gray;

}


div.photo_viewer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.photo_viewer_title {
    margin: 60px 0 60px 0;
    text-align: center;
}

.photo_viewer_title h3 {
  color: gray;
  font-size: 20px;
}

div.exit_img {
  margin-top: 20px;
  position: relative;
  left: 95%;
  top: 10%;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.contact_social.media {
    position: fixed;
    top: 46%;
    left: 40%;
}

a.social_media_link {
    margin-left: 28px;
}

.about_section_main {
    display: inline-flex;
}


@media screen and (max-width:1024px){
  .gallery_section_body li {
    left: 8%;

}

div.gallary_header {
    left: 39%;
}

.imgSize {
  margin-left: 46px;
}

div.entry_text {
  position: fixed;
  top: 35%;
  left: 25%;
  font-size: 80px;
}

div.exit_img {
  left: 90%;
  top: 8%;
}

}

@media screen and (max-width:768px){
  div.about_section_main p {
    margin-left: 82px;
    margin-right: 94px;
}

img[src="images/ruthPicture.JPG"] {
    margin-right: 75px;
    margin-top: 37px;
}

div.gallary_header {
    left: 36%;
}

.contact_social.media {
    left: 35%;
}

}

@media screen and (max-width: 420px){
  div.nav {
     position: unset;
     }

     .about_section_main {
         display: unset;
     }


   div.about_section_main p {
       margin-left: 0;
       margin-right: 0;
       width: unset;
   }

   img[src="images/ruthPicture.JPG"] {
    margin-left: 61px;
}

div.gallery_section {
    position: relative;
    top: 57px;
}

div.gallary_header {
     position: unset;
     text-align: center;

}

.gallery_section_body li {
    left: 23%;
}

.gallery_section_body li {
    margin: 49px 20px 0 0;
}

.contact_social.media {
    left: 23%;
}
div.About_section {
    top: 42px;
}

div.exit_img {
    left: 85%;
    top: 7%;
}

.imgSize {
  height: 420px;
  width: 357px;
  margin-left: 29px;
}
}

@media screen and (max-width:360px){
  div.nav .nav_link_wrapper {
    margin-left: 13px;
    margin-top: 22px;
    font-size: 0px;
}

.imgSize {
 margin-left: 23px;
 box-sizing: border-box;
 height: 350px;
width: 311px;
}

div.exit_img {
    left: 84%;
}

.photo_viewer_title h3 {
    font-size: 30px;
}
}

@media screen and (max-width:375px){
  div.exit_img {
      left: 82%;
  }

  .imgSize {
      height: 417px;
      width: 306px;
      margin-left: 32px;
  }
}

@media screen and (max-width:768px) {

  div.entry_text {
    position: fixed;
    top: 35%;
    left: 16%;
    font-size: 80px;
}

}

@media screen and (max-width:420px) {

  div.entry_text {
    position: fixed;
    top: 39%;
    left: 16%;
    font-size: 40px;
}

div.home .entry_button {
    position: fixed !important;
    top: 70% !important;
    left: 40% !important;
}

}
