* {
  margin: 0;
  padding: 0;
}



div.home {
  height: 100vh;
  width: 100vw;
  background-color: white;
  color: black;
}

div.home div.img_index img {
  height: 100px;
  width: 100px;
  margin-top: 30px;
  margin-left: 30px;
}

div.home .entry_button {
  position: fixed !important;
  top: 70% !important;
  left: 46% !important;
}

div.home .entry_button button {
  height: 40px;
  width: 60px;
  border-radius: 5px;
  border: 0;
  box-shadow: 4px 5px gray;
}

div.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
}

div.nav .nav_link_wrapper {
  margin-left: 22px;
  margin-top: 22px;
}

div.nav .nav_link_wrapper a img {
  height: 75px;
  width: 75px;
}

div.nav .nav_link_wrapper a.nav_link {
  text-decoration: none;
  margin-left: 35px;
  position: relative;
  bottom: 28px;
  color: gray;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  letter-spacing: 1.7px;
}

div.nav .nav_link_wrapper a.nav_link:hover {
  color: black;
}

div.About_section {
  position: relative;
  top: 200px;
  margin: 22px;
}

div.About_section h2 {
  text-align: center;
  margin-bottom: 90px;
}
